*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 400px;
    margin: 2em;
    position: relative;
}
.data-view span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,transparent,#ffffff);
    animation: anim1 2s linear infinite;
}
@keyframes anim1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.data-view span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom,transparent,#ffffff);
    animation: anim2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes anim2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.data-view span:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left,transparent,#ffffff);
    animation: anim3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes anim3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.data-view span:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top,transparent,#ffffff);
    animation: anim4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes anim4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.data-input{
    min-width: 300px;
    display: flex;
    position: relative;
    gap: 1em;
}
.data-input input{
    width: 100%;
    padding: 0.5em 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
    inset -5px 5px 10px rgba(255,255,255,0.4),
    inset 5px -5px 10px rgba(255,255,255,0.4) ;
    position: relative;
}
.data-input input[type="text"]{
    color: #333;
    font-weight: bolder;
    font-size: 1.2em;
}
.data-input input[type="submit"]{
    background: #20569c;
    color: #fff;
    font-weight: bolder;
    font-size: 1.2em;
}
.data-input input[type="submit"]:hover{
    letter-spacing: 2px;
}
.data-view{
    position: relative;
    background-color:#5368ab;
    margin-top: 2em;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
    padding: 1em 1%;
    overflow: hidden;
}
.data-view #temp{
    margin-top: -0.5em;
    font-size: 3em;
    font-family: 'Chakra Petch', sans-serif;
}
.data-view .imgbox{
    max-width: 230px;
    height: 200px;
    display: block;
    position: relative;
    transition: 0.2s;
}
.data-view .imgbox img{
    width: 100%;
    position: relative;
    top: -10%;
    left: 25%;
}
.data-view .imgbox img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}
.data-view #weather{
    font-size: 2em;
    font-family: 'Chakra Petch', sans-serif;
}
.data-view #msg{
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 1em;
}
.data-details{
    display: flex;
    min-width: 250px;
    justify-content: space-around;
    margin: 0.8em 0;
}
.data-details .col{
    display: flex;
    gap: 5px;
    flex-basis: auto;
}
.data-details .col div{
    font-size: 1.2em;
    font-family: 'Chakra Petch', sans-serif;
    transition: 0.3s;
}
.data-details .col div:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}


/* code for responsiveness */
@media screen and (max-width:440px)
{
    body{
        margin-top: -3em;
    }
    .data-input{
        flex-direction: column;
        max-width: 200px;
        margin: auto;
    }
    .data-view #temp{
        font-size: 2.4em;
    }
}